/* CSS RESET */
*{
    margin:0;
    padding:0;
}
body{
    background: rgb(19, 4, 4);
    text-align: center;
    display: block;

}

h1{ 
    background:-webkit-linear-gradient(
        red,blue 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Hubballi', cursive;
    
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: rgb(61, 29, 100);
    height: 100%;
    width:100%;
    overflow:hidden;
    box-shadow: (rgb(87, 165, 87) 0px 0.15rem 0.5rem,rgb(216, 92, 48)0px 0.008rem 0.17rem);
    border-radius: 5px;
    /* transition: ; */
    transition:all 500ms;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;

}

.card:hover{

    box-shadow: (rgb(155, 111, 114) 0px 0.15rem 0.5rem,rgb(156, 136, 129)0px 0.008rem 0.17rem);
    transform:translateY(-3px) scale(1.1);
}



@media screen and (min-width:500px)
{
    /* DESKTOP FIRST */
.image-grid{
    /* Display grid */
    display: grid;
    gap: 1rem; /* Space bw the grid elements */

    grid-template-columns: repeat(auto-fit, minmax(240px,1fr)); /* Repeat the columns fit automatically and min width must be 240px and 1 fraction */
    grid-auto-rows: 240px; /*Automatically adjust the rows at 240px*/
    }

.card-tall{
    grid-row: span 2,auto; /*span across 2 rows from starting, auto end with grid algo*/
}
.card-wide{
    grid-column: span 2/auto;
    }
}

@media screen and (max-width:500px)
{

    /* MOBILE FIRST */
    .image-grid{
        /* Display grid */
        display: grid;
        gap: 0.5rem; /* Space bw the grid elements */
    
        grid-template-columns: repeat(auto-fit, minmax(143px,1fr)); /* Repeat the columns fit automatically and min width must be 240px and 1 fraction */
        grid-auto-rows: 148px; /*Automatically adjust the rows at 240px*/
        }
    
    .card-tall{
        grid-row: span 2,auto; /*span across 2 rows from starting, auto end with grid algo*/
    }
    .card-wide{
        grid-column: span 2/auto;
        }

}

footer{
    text-align: center;
    font-family: 'Hubballi', cursive;
    background:-webkit-linear-gradient(
        rgb(255, 230, 0),rgb(20, 143, 173) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
