/* css reset  */
*{ margin:0; padding:0;}

html {
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root{
    --navbar-height:50px;
}

/* Navigation Bar  */

#navbar{
    display:flex;
    align-items: center;
    top:0;
    position: sticky;  

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0; left:0;  /* THis is very imp to make the image become fully fit from top left corner*/
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/* Nav bar: Logo and Image  */
#logo{
    
    height: 63px;
    margin: 18px 25px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}
/* Navbar:List Styling */

#navbar ul{
    display:flex;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.4rem;
}
#navbar ul li a{
    color:rgb(15, 15, 15);
    display: block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Akaya Telivigala', cursive;
}
#navbar ul li a:hover{
    color:white;
    cursor:pointer;
    /* background-color: white; */
    

}

/* Home Section  */
#home{
    display:flex; /*ease of fixing and positionin flex items inside the box i.e., the section part*/
    flex-direction: column;
    padding:2px 115px;
    height: 334px;
    justify-content: center;
    align-items: center;

}
/* This is the setting up of the tomato background picture  */
#home::before{
    content:"";
    position: absolute;
    height: 440px;
    width:100%;
    top:0; left:0;
    background: url('../bg\ tomato.jpg') no-repeat center center/cover;
    z-index:-1;
    opacity:0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: Redressed ,cursive;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: Redressed,cursive;

}

/* Services Section  */
#services{
    margin: 20px;
    display: flex;  
        
}
#services .box{
    border: 3px solid rgb(51, 65, 139);
    padding: 34px;
    margin: 2px 74px;
    border-radius: 23px;
    background-color: rgba(243, 225, 243, 0.644);
}


#services .box img{
    height: 200px;
    margin: auto;
    display: block;

}
#services .box p{
    font-family: Redressed,cursive;
}

/* section.services-container::before{
    content: "";
    background: url('../bg\ tomato.jpg')no-repeat center center/cover;
    width:100%;
    
    height:540px;
    position: absolute;
    z-index: -1;
    opacity:0.89;
} */


/* Clients Section  */
#client-section{
    height: 344px;
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../clientbg.jpg')no-repeat center center/cover;
    width:100%;
     height:340px;
    /* top:0; 
    left:0; */
    z-index:-1;
    opacity:0.5;
}


#clients{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding:34px;
}

/* CONTACTS SECTION  */


#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%; height: 444px;
    z-index: -1;
    opacity:0.6;
    background:url('../contact.jpeg') no-repeat center center/cover;
}
/* Footer  */
footer{
    background: black;
    color:white;
    padding:8px 20px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}

#contact-box input, #contact-box textarea{
    width:100%;
    padding:0.4rem;
    border: 1px solid rgb(37, 104, 67);
    border-radius: 9px;
}
#contact-box form{
    width: 40%;
    cursor:pointer;
}

#contact-box label{
    font-size: 1.2rem;    
    font-family: Redressed, cursive;
}

.form-group input:hover, .form-group input :active, .form-group textarea:hover, .form-group textarea:active{
    background-color: rgb(217, 235, 235);
    font-family: 'Akaya Telivigala', cursive;
    color:black;
}


/* Utility Classes */
/* This helps in reusing certain properties at once rather than targeting and changing one by one  */
.h-primary{
    font-size: 1.9rem;
    padding:12px;
    font-family:'Akaya Telivigala', cursive;
}
.h-secondary{
    font-size: 1.3rem;
    padding:12px;
    font-family: 'Akaya Telivigala', cursive;;
}
.btn{
    padding:6px 20px;
    border:2px solid rgb(240, 243, 49);
    background-color: rgba(161, 156, 156, 0.548);
    color:white;
    font-family: Redressed,cursive;
    margin:17px;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor:pointer;
}
.center{
    text-align: center;
}
