@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* CSS RESET */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family:'Poppins', sans-serif;
}
/* the heading or title of the page */
.intro{
    background:linear-gradient(rgb(47, 47, 119),rgb(122, 42, 42));
    color:rgb(206, 203, 195);
    text-align: center;
}

/* This is our main container which is a flexbox */

.container{
    height: 100%;
    width:100%;
    overflow: hidden;
    background: url('./coffee\ bg.avif')no-repeat center/cover;
    display: flex;
}
/* these are the flex items */
.coffeelist{
    flex-grow: 1;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top:1rem;
}
/* these are our coffee cards */
.coffees{
    height:10rem;
    width:10rem;
    font-size: 1.4rem;
    font-weight: 800;
    color:rgb(233, 212, 21);
    text-shadow: 2px 3px 3px black;
    text-align: center;
    border: 1px solid white;
    border-radius:10px;
    margin:0 1rem;
    box-shadow: 1px 2px rgb(19, 19, 18) inset;
}
#latte{
    background:url('./latte.jpg')no-repeat center/cover;
}
#espresso{
    background:url('./espresso.jpg')no-repeat center/cover;

}
#cappuccino{
    background: url('./cappucinno.jpg')no-repeat center/cover;
}
#mocha{
    background:url('./mocha.jpg')no-repeat center/cover;
}
#robusta{
    background:url('./robusta.jpg')no-repeat center/cover;
}
#brewed{
    background:url('./brewed.jpg')no-repeat center/cover;
}
#doppio{
    background:url('./doppio.jpg')no-repeat center/cover;
}
#cold{
    background:url('./cold.jpg')no-repeat center/cover;
}

/* the class form-group is for the form itself */
.form-group{
    height:200px;
    width:100%;
    font-size: 1.2rem;
    font-family:'Poppins', sans-serif;
}

.ordernow{
    flex:0 0 30vw;
    color:rgb(255, 209, 4);
    text-shadow: 2px 3px 3px rgb(0, 0, 0);
    height:100vh;
    top:1rem;
}
.button:hover{
    background-color: yellowgreen;
}

button{
    width:50%;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
    color:black;
    background-color: rgb(204, 192, 29);
}
/* Making it responsive towards mobile screen */
/* although the flexbox items are not responsive against Desktop View in mobile screens, the items doesn't grow and wrapped with space between which makes it bad */
@media screen and (max-width:552px){
    .intro{
        font-size: 0.8rem;
    }
    .form-group{
        font-size: 0.9rem;
        width:80%;
    }
    .ordernow{
        font-size: 0.9rem;
    }
    textarea{
        height:100px;
        width:100%;
    }
    .coffees{
        font-size: 1rem;
        height:8rem;
        width:8rem;
        border: 0.5px solid white;
    }
    button{
        width: 50%;
        font-size:0.8rem;
        border-radius:2px;
    }

}

footer{
    text-align:center;
    color:black;
    font-weight:800;
    background:linear-gradient(rgb(90, 90, 179),rgba(97, 56, 32, 0.863));
}
