/* CSS Reset */
*{
    margin:0;
    padding:0;
}
.grad{
    /* font-size: 3rem;
    background:-webkit-linear-gradient(yellow , white 60%);
    -webkit-background-clip:text;
    -webkit-fill-color:transparent; */
    color:white;
}

body{
    text-align: center;
    background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/warptrails001-1614875396.gif')no-repeat center center/cover;
}
/* this is the box where the game takes place */

#game{  
    margin:20vh auto; 
    width: 80vw;
    height:50vh;
}

#character{
    background: url('../image/rocket\ image.png')no-repeat center center/cover;
    width:30px;
    height:70px;
    position:relative;
    top:41vh;
}
.animate{
    animation: jump 500ms ;
}
@keyframes jump{
    0%{top: 41vh;}
    30%{top:37vh;}
    70%{top:37vh;}
    100%{top:41vh;}
}

#block{
    position: relative;   
    background-color: rgba(245, 184, 17, 0.993);
    height:50px;
    width:40px;
    top:35vh;
    background: url('../image/comet.png')no-repeat center center/cover;
    transform:rotate(40deg);
    left:12vw;
    animation: block 1.5s infinite;
}

@keyframes block{
    0%{left:50vw;}
    100%{left:-2vw;}
}
